.loginInputs {
  background-color: whitesmoke;
  width: 40vw;
  height: 30vh;
  margin: auto;
  display: flex;
  flex-direction: column;
}

input[type=text] {
 width: 50%;
 height: 5%;
 margin: auto;
 padding: 8px;
}

input {
  margin: auto;
  width: 50%;
  height: 5%;
  padding: 8px;
}

button {

}