.form {
  display: inline-block;
 margin-top: 80px;

  background-color: whitesmoke;
  padding: 30px;
  width: 50vw;
}

input[type=text] {
  margin-left: 10px;
  margin-top: 5px;
  text-align: left;
  padding: 10px;
}

textarea {
display: block;
width: 300px;
height: 100px;
background-color: rgb(239, 239, 230);
margin-top: 10px;
}


.create-btn {
  display: block;
  margin-top: 10px;
  background-color: #d6aaff;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn:hover {
  background-color: #a287bb;
}

