* {
  background-color: rgb(209, 209, 209);
  font-family: sans-serif;
}

header {
  background-color: #9c82b5;
  border-radius: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  width: 50vw;
  margin-left: 25vw;
}

h1 {
  background-color: #d6aaff;
  border-radius: 10px;
  padding: 10px;
}

.logout-btn {
  display: block;
  margin-top: 10px;
  background-color: #d63232;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #a43b3b;
  color: whitesmoke;
}
